@import url(https://fonts.googleapis.com/css?family=PT+Sans);

*{
	margin: 0;
	padding: 0;

}

footer{
	
	background-color: grey;
	height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	
}

footer p{
	position: absolute;
	margin-top: 230px;
}

.footer-nav{
	
	text-align: center;
	margin-top: 20px;
	
	padding-bottom: 80px;
	padding-left: 80px;
	padding-right: 80px;
	
	display: flex;
	flex-direction: column;
	list-style-type: none;
	width: 150px;
	height: 100px;
	border-right: 1px solid;
	
}

.footer-nav li{
	
	padding: 7px;
	
}

.footer-nav li a{
	
	color: #fff;
	font-family: 'Pt sans';
	text-decoration: none;
	
}

#socialMedia{
	
	text-align: center;
	margin-top: 20px;
	padding-bottom: 80px;
	padding-left: 80px;
	padding-right: 80px;
	display: flex;
	flex-direction: column;
	width: 150px;
	height: 100px;
	
}

#socialMedia li{
	
	padding: 7px;
	list-style-type: none;
	
}

#socialMedia li a{
	
	color: #fff;
	font-family: 'Pt sans';
	text-decoration: none;	
	
}

@media only screen and (max-width: 540px) {
	
	footer{
		flex-direction: column;
		width: 100%;
		height: auto;
	}
	
	#socialMedia, .footer-nav{
		border: none;
		margin: auto;
	}
	
	#socialMedia{
		padding-top: 10px;
	}
	
	.footer-nav{
		border-bottom: 1px solid;
		border-width: thin;
	}
	
}










