@import url('https://fonts.googleapis.com/css?family=Arvo');

*{
	
	margin: 0;
	padding: 0;
	
}

body{
	background-color: #ffc04c;
}

#background{
	
	background-image: url("../imgs/startsida_bild.jpg");
	min-height: 700px;
	max-width: 100%;
	text-align: center;

}

#background h1{
	
	padding-top: 80px;
	font-size: 4em;
	color: #fff;
	font-family: 'Arvo', serif;
	
}

#background h3{
	
	color: #fff;
	font-family: 'Arvo', serif;
	font-size: 2em;
	
}

#background2{
	
	background-image: url("../imgs/startsida_bild2.jpg");
	background-repeat: no-repeat;
	min-height: 700px;
	width: 100%;
	margin: auto;
	margin-bottom: 50px;
	text-align: center;
	
}

#sections{
	
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 300px;
	background-color: #ffc04c;
	
}

section{
	
	width: 450px;
	text-align: center;
	margin: 10px 10px 10px 10px;
	font-family: 'Arvo', serif;
	
}

section h2{
	
	font-size: 3em;
	padding-bottom: 20px;
	
	
}

section p{
	
	font-size: 1.5em;
	
}

section svg{
	
	width: 100px;
	height: 100px;
	
}

.eiffel-tower{
	
	height: 100px;
	width: 100px;
	
}

.information-tecken{
	
	height: 100px;
	width: 100px;
	
}

#asides{
	
	display: flex;
	flex-direction: coulmn;
	justify-content: space-around;
	margin-bottom: 50px;
	
}

aside{
	
	width: 800px;
	height: 400px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	
}

aside img{
	
	
	width: 500px;
	height: 300px;
	margin: auto;
	
}

#asides aside h2{
	'
	font-family: 'Arvo', serif; /* Skriven två gånger för den ville inte fungera om man endast skrev en? */
	font-family: 'Arvo', serif;
	margin: auto;
	width: 500px;
	
}

.aside1{
	
}

.aside2{
	
}

