@import url('https://fonts.googleapis.com/css?family=Arvo');

*{
	
	margin: 0;
	padding: 0;
	
}

body{
	background-color: #ffc04c;
}

main{
	
	width: 100%;
	
}

/* Background-image */

#background{
	
	background: url("../imgs/startsida_bild.jpg") no-repeat center center;
	
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	min-height: 700px;
	width: 100%;
	text-align: center;

}

#background h1{
	
	font-size: 4em;
	color: #fff;
	font-family: 'Arvo', serif;
	padding: 10px;
	background-color: rgba(0,0,0,.5);
	
}

#background h3{
	
	padding-bottom: 10px;
	background-color: rgba(0,0,0,.5);
	color: #fff;
	font-family: 'Arvo', serif;
	font-size: 2em;
	
}

#background2{
	
	background: url("../imgs/startsida_bild2.jpg");
	
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	min-height: 700px;
	width: 100%;
	margin: auto;
	margin-bottom: 50px;
	text-align: center;
	
}

/* Orange bar with information */

#sections{
	
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 300px;
	
}

section{
	
	width: 450px;
	text-align: center;
	margin: 20px 20px 20px 20px;
	font-family: 'Arvo', serif;
	
}

section h2{
	
	font-size: 3em;
	padding-bottom: 20px;
	
	
}

section p{
	
	font-size: 1.5em;
	
}

section svg{
	
	width: 100px;
	height: 100px;
	
}

section a{
	
	text-decoration: none;
	color: #000;
	
}

.eiffel-tower{
	
	height: 100px;
	width: 100px;
	
}

.information-tecken{
	
	height: 100px;
	width: 100px;
	
}

/* Featured  restaurants */

#asides{
	
	display: flex;
	flex-direction: coulmn;
	justify-content: space-around;
	margin-bottom: 50px;
	height: auto;
	
}

aside{
	
	width: 800px;
	height: 400px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	
}

aside img{
	
	width: 500px;
	height: 300px;
	margin: auto;
	
}

#asides aside h2{
	'
	font-family: 'Arvo', serif; /* Skriven två gånger för den ville inte fungera om man endast skrev en? */
	font-family: 'Arvo', serif;
	margin: auto;
	width: 500px;
	
}

/* Responsive Design */

@media only screen and (max-width: 1450px){

	#sections{
		
		height: auto;
		
	}

	section{
		
		margin: 10px 10px 60px 10px;

	}


	section h2{
		
		font-size: 2.2em;
		padding-bottom: 10px;
		
	}

	section p{
		
		font-size: 1em;
		
	}

	section svg, .eiffel-tower, .infomation-tecken{
		
		width: 70px;
		height: 70px;
		
	}


}

@media only screen and (max-width: 1130px) {
	
	#background2{
		min-height: 300px;
	}
	
	#asides{
		
		flex-direction: column;
		align-items: center;
		
	}
	
	aside{
		
		width: 400px;
		margin: auto;
		padding-bottom: 20px;
		padding-top: 20px;
		border-bottom: 1px solid;
		
	}
	
	aside img{
	
		width: 400px;
		height: 300px;
		margin: auto;
	
	}
	
	#asides aside h2{
		
		margin: 0;
		width: 75%;
		margin-left: 50px;
		text-align: center;
		font-size: 1.1em;
		
	}
	
	.no-border-aside{
		border: none;
		padding-bottom: 0;
	}
	
}

@media only screen and (max-width: 1031px) {
	
	section h2{
		font-size: 1.5em;
	}
	
	section{
		width: 25%;
	}
	
}

@media only screen and (max-width: 680px) {
	
	#background{
		min-height: 400px;
	}
	
	#sections{
		height: 15%;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		
	}

	section{
		border-radius: 20px;
		width: 75%;
		border-bottom: 1px solid;
		padding-bottom: 50px;
	
	}
	
	.no-border{
		border: none;
		padding: 0;
	}
	
}

@media only screen and (max-width: 424px) {
	
	#background h1{
		
		font-size: 2em;
		
	}
	
	#asides aside{
		
		width: 100%;
		
	}
	
	#asides aside img{
		
		height: auto;
		width: 100%;
		
	}
	
	#asides aside p{
		
		width: 80%;
		height: auto;
		
	}
	
}


















