@import url('https://fonts.googleapis.com/css?family=Arvo');

*{
	margin: 0;
	padding: 0;
}

main{
	
	width: 100%;
	
}

body{
	background-color: #ffc04c;
}

/* Verical Nav for restaurants */
	
#background-image{
	
	background: url("../imgs/startsida_bild.jpg") no-repeat center center;
	
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	min-height: 700px;
	width: 100%;
	
	text-align: center;
	
}

#background-image h1{
	
	font-family: 'Arvo', serif;
	padding: 30px;
	background-color: rgba(0,0,0,.6);
	font-size: 3em;
	color: #fff;
	font-family: 'Arvo', serif;
	
}

.vertical-nav{
	
	padding-right: 100px;
	padding-top: 25px;
	width: 200px;
	
}

.vertical-nav a{
	
	border-bottom: 1px solid;
	border-width: thin;
	background-color: #8aacb8;
	color: #000;
	display: block;
	padding: 12px;
	text-decoration: none;
	font-family: 'Arvo', serif;
	font-weight: 800;
	
}

.vertical-nav a:hover{
	color: #fff;
}

/* Burger-nav for restaurants */

.nav-label{
	margin: 0 40px 0 0;
	font-size: 26px;
	line-height: 70px;
	display: none;
}

#toggle2{
	
	display: none;
	
}

#filter{
	
	display: none;
	position: absolute;
	margin-left: 55px;
	margin-top: 25px;
	font-family: 'Arvo', serif;
	font-size: 1em;
	
}

/* Main content */

.main-content{
	
	display: flex;
	flex-direction: row;
	
	width: 1100px;
	height: auto;
	margin: auto;
	margin-bottom: 70px;
	
}

#asides{
	
	margin-left: -100px;
	
	height: auto;
	display: flex;
	flex-direction: column;
}

aside{
	width: 700px;
	
	border-bottom: 1px solid;
	margin-left: 62px;
	margin-bottom: 30px;
	padding: 20px;
	text-align: center;
}

aside img{
	
	width: 400px;
	height: 300px;
	
}

aside h2{
	font-family: 'Arvo', serif;
	font-size: 2em;
}

aside p{
	font-family: 'Arvo', serif;
	font-size: 1em;
}

.no-margin{
	margin-bottom: 0;
	padding-bottom: 0;
}
.no-border{
	border: none;
	border-bottom: none;
}

@media only screen and (max-width: 1020px) {
	
	.vertical-nav{
		padding: 0;
		margin: 0;
		margin-top: 20px;
	}
	
	.main-content{
		width: 100%;
	}
	
	#asides{
		margin: 0;
		margin: auto;
		
	}
	
	aside{
		width: 400px;
		margin: 0;
	}
	
}

@media only screen and (max-width: 730px) {
	
	#background-image{
		min-height: 500px;
	}
	
	#background-image h1{
		font-size: 2em;
	}
	
	.main-content{
		flex-direction: column;
	}
	
	.vertical-nav{
		display: none;
		position: absolute;
		padding: 0;
		margin-top: 80px;
	}
	
	.nav-label{
		display: block;
		cursor: pointer;
		width: 26px;
		margin-left: 20px;
	}
	
	#filter{
		
		display: block;
		
	}
	
	#toggle2:checked + .vertical-nav{
		display: block;
	}
	
	#asides{
		
	}
	
}

















