@import url(https://fonts.googleapis.com/css?family=PT+Sans);

/* citytour */

html, body{
	
	margin: 0;
	padding: 0;
	
}

header{
	
	background-color: #add8d1;
	display: flex;
	justify-content: center;
	align-items: center;	
	
}

header h1 a{
	
	text-decoration: none;
	color: #000;
	
}

.nav-menu{
	
	padding: 0;
	margin: 0;
	width: 1000px;
	margin: auto;
	list-style: none;
	height: 120px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	
	
}

.nav-menu li{

	
	
}

.nav-menu li a{
	
	font-family: 'Pt sans';
	color: #000;
	text-decoration: none;
	font-size: 30px;
	
}

.nav-menu li a:hover{
	
	color: white;
	
}

.nav-menu li a:active{
	
	color: white;
	
}

/* Burger nav */

label{
	margin: 0 40px 0 0;
	font-size: 26px;
	line-height: 70px;
	display: none;
}

#toggle{
	
	display: none;
	
}

/* Responsive Design */

@media only screen and (max-width: 1020px) {
	
	/* Burger-nav */ 
	
	label{
		display: block;
		cursor: pointer;
		width: 26px;
		margin-left: 20px;
	}
	
	.nav-menu{
		display: none;
		margin: 0;
		padding: 0;
		background-color: #8f8f8f;
		height: auto;
		width: 100%;
	}
	
	.nav-menu li{
		text-align: center;
		padding: 10px;
		border-bottom: 1px solid;
		border-width: thin;
	}
	
	.nav-menu li a{
		color: white;
	}
	
	.nav-menu li a:hover{
		color: rgba(0,0,0,.8);
	}
	
	#toggle:checked + .nav-menu{
		display: block;
		
	}
	
}
















