@import url('https://fonts.googleapis.com/css?family=Arvo');

*{
	margin: 0;
	padding: 0;
}

#background{
	
	background: url("../imgs/startsida_bild.jpg") no-repeat center center;
	
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	min-height: 700px;
	width: 100%;
	text-align: center;

}

body{
	background-color: #ffc04c;
}

#background h1{
	
	font-family: 'Arvo', serif;
	padding: 30px;
	background-color: rgba(0,0,0,.6);
	font-size: 3em;
	color: #fff;
	font-family: 'Arvo', serif;
	
}

/* Main content */

main{
	width: 100%;
}

.main-content{
	
	width: 1200px;
	height: auto;
	margin: auto;
	margin-top: 20px;
	padding-bottom: 20px;
	
}

.main-content h1{
	
	
	font-family: 'Arvo', serif;
	font-size: 3em;
	text-align: center;
	padding-bottom: 50px;
	text-decoration: underline;
	
}

.goteborg{
	
	width: 100%;
	height: auto;
	text-align: center;
	padding-bottom: 50px;
	border-bottom: 1px solid;
	
}

.goteborg img{
	
	width: 1000px;
	height: 600px;
	border-radius: 30px;
	
}

.goteborg p{
	
	margin-left: 300px;
	width: 550px;
	font-family: 'Arvo', serif;
	font-size: 1.5em;	
	position: absolute;
	margin-top: -550px;
	background-color: rgba(255,255,255,.7);
	padding: 20px;
	border-radius: 20px;
	
}

#sections{
	
	display: flex;
	flex-direction: row;
	width: 1200px;
	border-bottom: 1px solid;
	
}

#sections section{
	
	width: 600px;
}

#sections section img{
	
	width: 550px;
	height: 350px;
	margin-left: 20px;
	
}

#sections section h1{
	
	margin: 0;
	padding: 0;
	padding: 15px;
	font-size: 2.2em;
	
}

#sections section p{
	
	font-family: 'Arvo', serif;
	font-size: 1.2em;
	padding: 15px;
	
}

.skargard{
	
	width: 1200px;
	
	
}

.skargard img{
	
	width: 1100px;
	height: 800px;
	padding: 50px;
	
}

.skargard p{
	
	position: absolute;
	font-family: 'Arvo', serif;
	font-size: 1.2em;
	width: 700px;
	background-color: rgba(255,255,255,.8);
	padding: 20px;
	margin-left: 230px;
	margin-top: -700px;
	border-radius: 20px;
	
}

.border-right{
	
	border-right: 1px solid;
	
}

/* Responsive Design */

@media only screen and (max-width: 1220px){
	
	.main-content{
		
		width: 100%;
		
	}
	
	.goteborg{
		
		width: 90%;
		margin: auto;
		
	}
	
	.goteborg img{
		
		width: 100%;
		height: auto;
		padding-bottom: 20px;
		
	}
	
	.goteborg p{
		position: relative;
		margin: 0;
		border-radius: 0;
		margin: auto;
	}
	
	#sections{
		
		width: 100%;
		
	}
	
	#sections section{
	
		width: 50%;
	
	}

	#sections section img{
		
		width: 95%;
		height: auto;
		margin: 0;
		margin-left: 10px;
		
	}

	#sections section h1{
		
		margin: 0;
		padding: 0;
		padding: 15px;
		font-size: 2.2em;
		
	}

	#sections section p{
		
		font-size: 1em;
		padding: 15px;
		
	}
		
	#section section{
		text-align: center;
	}
	
	.skargard{
		
		width: 90%;
		margin: auto;
		
	}
	
	.skargard img{
		
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
		margin: auto;
		padding-top: 20px;
		
	}
	
	.skargard p{
		
		position: relative;
		margin: 0;
		padding: 0;
		width: 100%;
		height: auto;
		border-radius: 0;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-top: 10px;
		font-size: 1em;
		
	}

}

@media only screen and (max-width: 1020px){
	
	#background{
		
		min-height: 500px;
		
	}
	
	#background h1{
		
		font-size: 2em;
		
	}
	
}

@media only screen and (max-width: 780px){
	
	#sections{
		flex-direction: column;
		margin: auto;
	}
	
	#sections section{
		width: 100%;
	}
	
	.border-right{
		border-right: none;
		border-bottom: 1px solid;
	}
	
}

@media only screen and (max-width: 673px){
	
	.goteborg p{
		
		font-size: 1em;
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
		padding-top: 5px;
		padding-bottom: 5px;
		
	}
	
}









