@import url('https://fonts.googleapis.com/css?family=Arvo');

*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #ffc04c;
}

/*  */

#background{
	
	background: url("../imgs/startsida_bild.jpg") no-repeat center center;
	
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	min-height: 700px;
	width: 100%;
	text-align: center;

}

#background h1{
	
	font-family: 'Arvo', serif;
	padding: 30px;
	background-color: rgba(0,0,0,.6);
	font-size: 3em;
	color: #fff;
	font-family: 'Arvo', serif;
	
}

main{
	
	width: 100%;

}

.main-content{
	
	width: 1200px;
	height: auto;
	margin: auto;
	padding-bottom: 50px;
	
}

/* Main-content */

.main-content h1{
	
	font-size: 3em;
	font-family: 'Arvo', serif;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	
}

/* Form */

.form{
	
	background-color: #f2f2f2;
	border-radius: 7px;
	padding: 30px;
	margin-top: 10px;
	
}

input[type=text], textarea{
	
	width: 100%;
	padding: 10px;
	border: 1px solid;
	border-radius: 5px;
	resize: verical;
	
}

.form-label{
	
	padding-top: 10px;
	
	padding-right: 10px;
	font-family: 'Arvo', serif;
	display: block;
	
}

textarea{
	
	height: 250px;
	
}

.25-width{
	
	width: 25%;
	float: left;
	margin-top: 5px;
	
}

.75-width{
	
	width: 75%;
	float: left;
	margin-top: 5px;
	
}

button{
	
	background-color: #1E90FF;
	font-family: 'Arvo', serif;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	border: none;
	margin-left: 25%;
	margin-top: 30px;
	width: 50%;
	cursor: pointer;
	
}

button:hover{
	opacity: .7;
}

.rad:after{
	
	content: '';
	display: table;
	clear: both;
	
}

/* Information */

#information{
	
	width: 100%;
	height: auto;
	border-top: 1px solid;
	margin-top: 50px;
	padding-top: 50px;
	
}

#information p{
	
	font-size: 2em;
	text-align: center;
	font-family: 'Arvo', serif;
	padding-bottom: 50px;
	color: grey;
	
}

#information section{
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	
	
}

#information h2{
	
	font-family: 'Arvo', serif;
	
}

#information section h5{
	
	font-family: 'Arvo', serif;
	font-size: 1em;
	font-weight: 500;
	
	
}

#information iframe{
	

	
}

@media only screen and (max-width: 1220px){
	
	#information{
		
		width: 100%;
		
	}
	
	#information section{
		
		width: 90%;
		margin: auto;
		flex-direction: column;
		align-items: center;
		
	}
	
	#information section h5{
		
		padding-bottom: 20px;
		
	}
	
}

@media only screen and (max-width: 1020px){
	
	.main-content{
		
		width: 100%;
		
	}
	
}

@media only screen and (max-width: 625px){

	#information section iframe{
		
		width: 100%;
		height: auto;
		
	}
	
	#information p{
		
		font-size: 1.5em;
		
	}
	
}

@media only screen and (max-width: 600px){
	
	#background{
		min-height: 400px;
	}
	
	#background h1{
		
		font-size: 1.5em;
		
	}
	
	.25-width, .75-width{
		
		width: 100%;
		margin: 0;
		padding: 0;
		
	}
	
	.form{
		
		border-radius: 0px;
		
	}
	
	button{
	
		width. 100%;
		
	}
	
	.main-content h1{
		font-size: 1.5em;
	}
	
	.form-label{
		margin: 0;
	}
	
}













