@import url('https://fonts.googleapis.com/css?family=Arvo');

*{
	
	margin: 0;
	padding: 0;
	
}

body{
	background-color: #ffc04c;
}
.no-border{
	border: none;
}

/* Navigation (Burger-nav) */

label{
	margin: 0 40px 0 0;
	font-size: 26px;
	line-height: 70px;
	display: none;
}

#toggle{
	
	display: none;
	
}

/* Main content */

main{
	width: 100%;
}

.main-content{
	width: 1020px;
	height: auto;
	margin: auto;
	
	display: flex;
	flex-direction: column;
}

#background-image{
	
	background: url("../imgs/startsida_bild.jpg") no-repeat center center;
	
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	min-height: 700px;
	width: 100%;
	
	text-align: center;
	
}

#background-image h1{
	
	padding: 30px;
	background-color: rgba(0,0,0,.6);
	font-size: 4em;
	color: #fff;
	font-family: 'Arvo', serif;
	
}

aside{
	
	width: auto;
	height: 600px;
	text-align: center;
	
}

aside img{
	
	width: 600px;
	height: 400px;
	
}

aside h1{
	
	font-family: 'Arvo', serif;
	font-size: 3em;
}

aside p{
	
	width: 80%;
	margin: auto;
	padding-bottom: 50px;
	font-family: 'Arvo', serif;
	border-bottom: 1px solid;
	border-width: thin;
	
}

/* Responsive Design */

@media only screen and (max-width: 1020px) {
	/* Navigation */
	label{
		display: block;
		cursor: pointer;
		width: 26px;
		margin-left: 20px;
	}
	
	.nav-menu{
		display: none;
		margin: 0;
		padding: 0;
		background-color: #8f8f8f;
		height: auto;
		width: 100%;
	}
	
	.nav-menu li{
		text-align: center;
		padding: 10px;
		border-bottom: 1px solid;
		border-width: thin;
	}
	
	.nav-menu li a{
		color: white;
	}
	
	.nav-menu li a:hover{
		color: rgba(0,0,0,.8);
	}
	
	#toggle:checked + .nav-menu{
		display: block;
		
	}
	
	/* Main content */
	
	.main-content{
		width: 100%;
	}
	
}

@media only screen and (max-width: 620px) {
	
	#background-image{
		min-height: 500px
	}
	
	#background-image h1{
		font-size: 2em;
	}
	
	.main-content{
		height: auto;
	}
	
	aside{
		width: 100%;
		height: auto;
		padding: 10px;
	}
	
	aside img{
		
		width: 90%;
		height: auto;
		margin-right: 20px;

	}
	
	aside h1{
		font-size: 1.2em;
	}
	
	aside p{ 
		padding-bottom: 10px;
		font-size: 1em;
	}
	
	.no-margin{
		margin-top: 0;
	}
	
}

















