*{
	
	margin: 0;
	padding: 0;
	
}

label{
	margin: 0 40px 0 0;
	font-size: 26px;
	line-height: 70px;
	display: none;
}

#toggle{
	
	display: none;
	
}

/* Responsive Design */

@media only screen and (max-width: 1020px) {
	
	label{
		display: block;
		cursor: pointer;
		width: 26px;
		margin-left: 20px;
	}
	
	.nav-menu{
		display: none;
		margin: 0;
		padding: 0;
		background-color: #8f8f8f;
		height: auto;
		width: 100%;
	}
	
	.nav-menu li{
		text-align: center;
		padding: 10px;
		border-bottom: 1px solid;
		border-width: thin;
	}
	
	.nav-menu li a{
		color: white;
	}
	
	.nav-menu li a:hover{
		color: rgba(0,0,0,.8);
	}
	
	#toggle:checked + .nav-menu{
		display: block;
		
	}
	
}